:root {
    --mainfont: #ffffff;
    --blue: #008cff;
    --pink: #ff009d;
    --gris: #757575;
    --grisclaro: #8b8b8bc0;
    --oscuro: #272727;
    --fondo: #ffffff;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*, *::before, *::after {
    box-sizing: inherit;
}

html, body {
    overflow-x: hidden;
}

p, h1, h2, h3, legend {
    color: var(--mainfont);
}

p, a, label {
    font-size: 2rem;
}

h1 {
    font-size: 6rem;
}

h2 {
    font-size: 4rem;
}

h3 {
    font-size: 3rem;
}

label {
    font-weight: bold;
}

img {
    max-width: 100%;
}

footer {
    color: var(--pink);
    text-align: center;
    background-color: var(--oscuro);
    padding: 1rem;
    font-size: 1.5rem;
}

/* Estilos de navegación */
nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.418);
    transition: background-color 0.3s ease;
    z-index: 1000;
}

#navbar {
    min-height: 8rem;
    align-content: center;
}

#navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#navbar ul li a {
    font-weight: 500;
    color: var(--fondo);
    text-decoration: none;
    padding: 10px 20px;
    transition: color 0.3s ease;
    text-transform: uppercase;
}

.navimg {
    width: 200px;
}

.scrolled {
    background-color: var(--fondo) !important;
}

.scrolled ul li a {
    color: var(--pink) !important;
}

/* Sección parallax */
.parallax-section {
    background-image: linear-gradient(rgba(234, 0, 255, 0.589), rgba(251, 255, 0, 0.719)), url(../image/escalandia_hero.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

/* Contenedor principal */
.container {
    max-width: 120rem;
    width: 95%;
    padding: 10rem 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    justify-content: center;
}

/* Estilos específicos de los elementos */
.muro {
    text-align: end;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    max-height: max-content;
    filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.6));
}

.logo {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    display: flex;
    align-items: center;
    padding: 2rem;
}

.mainlogo {
    min-width: 280px;
    max-width: 500px;
    width: 100%;
    margin: auto;
}

.info {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    font-size: 1.5rem;
    text-align: right;
}

.call {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: center;
    padding: 2rem;
}

/* Animaciones */
@keyframes tambalear {
    0%, 100% { transform: rotate(0deg); }
    20% { transform: rotate(-2deg); }
    40% { transform: rotate(2deg); }
    60% { transform: rotate(-2deg); }
    80% { transform: rotate(0deg); }
}

.tambaleando {
    display: inline-block;
    animation: tambalear 5s infinite;
}

/* Botones */
.botonpink, .botonig {
    color: var(--mainfont);
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-transform: uppercase;
    border-radius: 30px;
    font-size: 2rem;
    padding: 15px 20px;
    border: none;
    text-decoration: none;
}

.botonpink {
    background-color: var(--pink);
}

.botonpink:hover {
    background-color: #9b21ff;
}

.botonig {
    background-color: #ffae00;
}

.botonig:hover {
    background-color: #fbff07d0;
}

/* Animaciones de botón */
@keyframes sacudir {
    0%, 100% { transform: translateY(0); }
    10%, 30%, 50%, 70%, 90% { transform: translateY(-5px); }
    20%, 40%, 60%, 80% { transform: translateY(5px); }
}

.sacudir {
    animation: sacudir 5s ease-in-out 3s infinite;
    display: inline-block;
}

/* Sección de experiencias */
.experiencias h2, .experiencias p, .experiencias button {
    text-align: center;
}

.experiencias h2 {
    font-size: 10rem;
}

.inolvidables {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
}

.inolvidables img {
    width: 200px;
    height: auto;
    display: block;
}

.inolvidables a {
    padding: 5rem 0 10rem 0;
}

/* Contenedor de instantáneas */
.contenedorinstantaneas {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;
    padding: 30px;
    padding-top: 2rem;
}

.instantanea {
    background-color: #ffffff;
    border: 1px solid #ececec;
    padding: 10px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s ease;
}

.instantanea img {
    display: block;
}

.rotate-left { transform: rotate(-15deg); }
.rotate-center { transform: rotate(10deg); }
.rotate-right { transform: rotate(-10deg); }

.instantanea:hover {
    transform: rotate(0deg);
}

/* Texto brillante */
.efectobrillo {
    color: #fff;
    animation: shine 1s infinite alternate;
}

@keyframes shine {
    0% {
        text-shadow: 0 0 10px #fff, 0 0 20px #ff00ff, 0 0 30px #8400ff, 0 0 40px #ff00ff, 0 0 50px #ff00ff, 0 0 60px #6505ff, 0 0 120px #ff00ff;
    }
    50% {
        text-shadow: 0 0 20px #fff, 0 0 30px #ff00ff, 0 0 40px #ff00ff, 0 0 50px #ff00ff, 0 0 60px #ffb20b, 0 0 70px #ff00ff, 0 0 120px #9e006f;
    }
    100% {
        text-shadow: 0 0 10px #fff, 0 0 20px #ff00ff, 0 0 30px #ff00ff, 0 0 40px #ff00ff, 0 0 50px #ff00ff, 0 0 60px #2600ff, 0 0 120px #fffb01;
    }
}

/* Sección de servicios */
.servicio-content {
    margin: 10rem 0;
    background-color: var(--fondo);
    justify-items: center;
    display: flex;
    justify-content: space-evenly;
}

.container2 {
    border-radius: 2rem;
    margin: 2rem;
    background-color: var(--grisclaro);
    width: 45%;
    padding: 0 3rem;
}

.container2 p {
    color: var(--mainfont);
    text-align: start;
}

.container2 h2 {
    color: var(--pink);
    text-align: center;
    text-transform: uppercase;
}

.container2 h3 {
    color: var(--mainfont);
    font-size: 2rem;
}

.call2 {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
}

/* Secciones de los servicios */
.serv1, .serv2, .serv3, .serv4, .serv5, .serv6 {
    display: block;
    max-width: 100%;
    margin: 0 auto;
    display: block;
    filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.3));
}

/* Sección de misión */
.pinkblue {
    background: linear-gradient(to bottom, #ff5fcf, hsl(216, 100%, 54%));
    width: 100%;
}

.mision-cont {
    padding: 5rem 20rem;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.mision {
    font-size: 3rem;
}

/* Sección de contacto */
.contacto h2 {
    text-align: center;
    color: var(--pink);
}

.formulario {
    background-color: var(--gris);
    width: min(100rem, 100%);
    border-radius: 2rem;
    margin: 3rem auto;
    padding: 2rem;
}

.formulario fieldset {
    border: none;
}

.formulario legend {
    text-align: center;
    font-size: 1.8rem;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 2rem;
    color: white;
}

.contenedor-campos {
    color: white;
}

.campo {
    margin-bottom: 1rem;
}

.campo label {
    margin-bottom: 0.5rem;
    display: block;
}

.input-text {
    display: block;
    width: 100%;
    border: none;
    padding: 2rem;
    border-radius: 0.5rem;
    font-size: 2rem;
    font-family: 'Plus Jakarta Sans', sans-serif;
}

.enviar .botonpink {
    width: 100%;
}

/* Estilos responsivos */
@media (max-width: 768px) {
    nav ul {
        justify-content: space-between;
    }

    nav ul li {
        display: none;
    }

    .parallax-section {
        background-size: cover;
    }

    .container {
        display: flex;
        padding: 10rem 5rem;
        flex-wrap: wrap;
        text-align: center;
        margin: 10px;
        padding-bottom: 25px;
    }

    .info h2 {
        text-align: center;
    }

    .muro, .info {
        margin: 0;
        text-align: center;
    }

    .muro {
        line-height: 1;
    }

    .call {
        padding: 2rem;
    }

    .contenedorinstantaneas {
        display: grid;
        align-items: center;
        width: 90%;
    }

    .experiencias h2 {
        font-size: 5rem;
    }

    .efectobrillo {
        font-size: 5rem;
    }

    .mision-cont {
        padding: 5rem 2rem;
    }

    .servicio-content {
        display: grid;
    }

    .container2 {
        width: 90%;
    }
}
