:root {
    --mainfont: #ffffff;
    --blue: #008cff;
    --pink: #ff009d;
    --gris: #757575;
    --grisclaro: #8b8b8bc0;
    --oscuro: #272727;
    --fondo: #ffffff;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*, *::before, *::after {
    box-sizing: inherit;
}

html, body {
    overflow-x: hidden;
    margin: 0;
    font-family: 'Plus Jakarta Sans', sans-serif;
}

p, h1, h2, h3, legend {
    color: var(--mainfont);
}

p, a, label {
    font-size: 2rem;
}

h1 {
    font-size: 6rem;
}

h2 {
    font-size: 4rem;
}

h3 {
    font-size: 3rem;
}

li {
    font-size: 2rem;
}

label {
    font-weight: bold;
}

img {
    max-width: 100%;
}

footer {
    color: var(--pink);
    text-align: center;
    background-color: var(--oscuro);
    padding: 1rem;
    font-size: 1.5rem;
}

/* Estilos de navegación */
nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.418);
    transition: background-color 0.3s ease;
    z-index: 1000;
}

#navbar {
    min-height: 8rem;
    align-content: center;
}

#navbar ul {
    list-style: none;
    margin: 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#navbar ul li a {
    font-weight: 500;
    color: var(--fondo);
    text-decoration: none;
    padding: 10px 10px;
    transition: color 0.3s ease;
    text-transform: uppercase;
}

.navbar-logo-image {
    width: 200px;
    min-width: 200px;
}

.scrolled {
    background-color: var(--fondo) !important;
}

.scrolled ul li a {
    color: var(--pink) !important;
}

/* Sección parallax */
.hero-section {
    background-image: linear-gradient(rgba(234, 0, 255, 0.589), rgba(251, 255, 0, 0.719)), url(../image/escalandia_hero.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

/* Contenedor principal */
.hero-container {
    max-width: 120rem;
    width: 95%;
    padding: 10rem 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    justify-content: center;
}

/* Estilos específicos de los elementos */
.hero-text {
    text-align: end;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    max-height: max-content;
    filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.6));
}

.hero-logo {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    display: flex;
    align-items: center;
    padding: 2rem;
}

.hero-logo-image {
    min-width: 280px;
    max-width: 500px;
    width: 100%;
    margin: auto;
}

.hero-subtext {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    font-size: 1.5rem;
    text-align: right;
}

.hero-cta {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: center;
    padding: 2rem;
}

/* Animaciones */
@keyframes wobble {
    0%, 100% { transform: rotate(0deg); }
    20% { transform: rotate(-2deg); }
    40% { transform: rotate(2deg); }
    60% { transform: rotate(-2deg); }
    80% { transform: rotate(0deg); }
}

.animate-wobble {
    display: inline-block;
    animation: wobble 5s infinite;
}

/* Botones */
.btn-primary, .btn-secondary {
    color: var(--mainfont);
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-transform: uppercase;
    border-radius: 30px;
    font-size: 2rem;
    padding: 15px 20px;
    border: none;
    text-decoration: none;
}

.btn-primary {
    background-color: var(--pink);
}

.btn-primary:hover {
    background-color: #9b21ff;
}

.btn-secondary {
    background-color: #ffae00;
}

.btn-secondary:hover {
    background-color: #fbff07d0;
}

/* Animaciones de botón */
@keyframes shake {
    0%, 100% { transform: translateY(0); }
    10%, 30%, 50%, 70%, 90% { transform: translateY(-5px); }
    20%, 40%, 60%, 80% { transform: translateY(5px); }
}

.animate-shake {
    animation: shake 5s ease-in-out 3s infinite;
    display: inline-block;
}

/* Sección de experiencias */
.experiences-section h2, .experiences-section p, .experiences-section button {
    text-align: center;
}

.experiences-section h2 {
    font-size: 10rem;
}

.highlighted-experience {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
}

.highlighted-experience img {
    width: 200px;
    height: auto;
    display: block;
}

.highlighted-experience a {
    padding: 5rem 0 10rem 0;
}

/* Contenedor de instantáneas */
.image-gallery {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;
    padding: 30px;
    padding-top: 2rem;
}

.gallery-item {
    background-color: #ffffff;
    border: 1px solid #ececec;
    padding: 10px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s ease;
}

.gallery-item img {
    display: block;
}

.rotate-left { transform: rotate(-15deg); }
.rotate-center { transform: rotate(10deg); }
.rotate-right { transform: rotate(-10deg); }

.gallery-item:hover {
    transform: rotate(0deg);
}

/* Texto brillante */
.text-glow {
    color: #fff;
    text-shadow: 0 0 10px #fff, 0 0 20px #ff00ff, 0 0 30px #8400ff, 0 0 40px #ff00ff, 0 0 50px #ff00ff, 0 0 60px #6505ff, 0 0 120px #ff00ff;
}

/* Sección de servicios */
.services-section {
    margin: 10rem 0;
    background-color: var(--fondo);
    justify-items: center;
    display: flex;
    justify-content: space-evenly;
}

.service-container {
    border-radius: 2rem;
    margin: 2rem;
    background-color: var(--grisclaro);
    width: 45%;
    padding: 0 3rem;
}

.service-container p {
    color: var(--mainfont);
    text-align: start;
}

.service-container h2 {
    color: var(--pink);
    text-align: center;
    text-transform: uppercase;
}

.service-container h3 {
    color: var(--mainfont);
    font-size: 2rem;
}

.service-button {
    display: block;
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: center;
    margin: 0 auto;
    padding: 2rem;
}

/* Secciones de los servicios */
.service-header, .service-details, .service-cta, .service-button {
    max-width: 100%;
    margin: 0 auto;
    filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.3));
}

/* Sección de misión */
.mission-section {
    background: linear-gradient(to bottom, #ff5fcf, hsl(216, 100%, 54%));
    width: 100%;
}

.mission-container {
    padding: 5rem 20rem;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.mission-text {
    font-size: 3rem;
}

/* Sección de contacto */
.contact-section h2 {
    text-align: center;
    color: var(--pink);
}

.contact-form {
    background-color: var(--gris);
    width: min(100rem, 100%);
    border-radius: 2rem;
    margin: 3rem auto;
    padding: 2rem;
}

.contact-form fieldset {
    border: none;
}

.contact-legend {
    text-align: center;
    font-size: 1.8rem;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 2rem;
    color: white;
}

.form-fields {
    color: white;
}

.form-field {
    margin-bottom: 1rem;
}

.form-field label {
    margin-bottom: 0.5rem;
    display: block;
}

.input-text {
    display: block;
    width: 100%;
    border: none;
    padding: 2rem;
    border-radius: 0.5rem;
    font-size: 2rem;
    font-family: 'Plus Jakarta Sans', sans-serif;
}

.form-submit .btn-primary {
    width: 100%;
}

/* Estilos responsivos */
@media (max-width: 768px) {
    nav ul {
        justify-content: space-between;
    }

    nav ul li {
        display: none;
    }

    .hero-section {
        background-size: cover;
    }

    .hero-container {
        display: flex;
        padding: 10rem 5rem;
        flex-wrap: wrap;
        text-align: center;
        margin: 10px;
        padding-bottom: 25px;
    }

    .hero-text h2 {
        text-align: center;
    }

    .hero-text, .hero-subtext {
        margin: 0;
        text-align: center;
    }

    .hero-text {
        line-height: 1;
    }

    .hero-cta {
        padding: 2rem;
    }

    .image-gallery {
        display: grid;
        align-items: center;
        width: 90%;
    }

    .experiences-section h2 {
        font-size: 5rem;
    }

    .text-glow {
        font-size: 5rem;
    }

    .mission-container {
        padding: 5rem 2rem;
    }

    .services-section {
        display: grid;
    }

    .service-container {
        width: 90%;
    }
}
